body {
    font-family: Playfair Display, inter;
    background: #f9f9f9;
    margin: 0;
    padding: 80px;
}

.review-title {
    color: #2C2B2B;
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

.add-review-title {
    color: #2C2B2B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}

.review-form {
    background: #E8E8E8;
    padding: 20px;
    margin-bottom: 20px;
}

.review-name {
    margin-bottom: 0;
}

.review {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

p {
    margin-top: 5px;
}


.input-container {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;

    color: #2C2B2B;
    font-family: Inter;
    font-weight: 300;
}

textarea:focus {
    outline: none;
}

.fav-button {
    background: #FFC107;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-top: 10px;
}

.review-button {
    background: #FFC107;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

button:hover {
    background: #e6b306;
}

/* Clear float */
.input-container::after {
    content: "";
    clear: both;
    display: table;
}