{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookpedia</title>
    <link rel="stylesheet" href="{% static 'review.css' %}">
</head>

<body>
    <button class="fav-button" data-recipeid="{{ recipe_id }}">Add to Favorites</button>

    <div class="reviews-container">
        <h2 class="review-title">Reviews</h2>
        <div class="reviews">
            {% if reviews.exists %}
            {% for review in reviews %}
            <div class="review">
                <h3 class="review-name">{{ review.user.username }}</h3>
                <p>{{ review.review }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No reviews yet. Be the first to review!</p>
            {% endif %}
        </div>
    </div>

    <h3 class="add-review-title">Add reviews</h3>
    <div class="review-form">
        <form action="/review/submit" method="post">
            {% csrf_token %}
            <input type="hidden" name="reviewForm" value="{{ recipe.id }}">
            <textarea name="review" required placeholder="Enter your review here..."></textarea>
            <button class="d-flex flex-row-reverse review-button" type="submit">Post Review</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.fav-button').click(function () {
                var recipeId = $(this).data('recipeid');
                console.log("Recipe ID:", recipeId);

                $.ajax({
                    url: '{% url "favorite:add_to_favorite" 0 %}'.replace('0', recipeId),
                    type: 'GET',
                    success: function (response) {
                        alert(response.message);
                        console.log("Success response:", response);
                    },
                    error: function (xhr, status, error) {
                        alert('Error adding to favorites');
                        console.log("Error Status:", status);
                        console.log("Error Message:", error);
                    }
                });
            });
        });
    </script>

    </script>



</body>

</html>