{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<main>
    <div class="title-container">
        <h2>Favorites</h2>
        <div class="line"></div>
    </div>
    <div id="favorites-grid" class="recipe-grid">
        {% for recipe in favorite_recipes %}
        <div class="recipe-tile">
            <p>{{ review.user.username }}</p>
            <div class="recipe">
                <h2>{{ recipe.name }}</h2>
                <p>{{ recipe.description }}</p>

                <a href="#" class="remove-favorite" data-id="{{ recipe.id }}"
                    style="text-decoration: none; color: red; font-size: 30px;">⨂</a>
            </div>
        </div>
        {% empty %}
        <p>No favorites yet. Start adding some!</p>
        {% endfor %}
    </div>
</main>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const removeButtons = document.querySelectorAll('.remove-favorite');
        removeButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                const recipeId = this.getAttribute('data-id');
                fetch(`/favorite/remove/${recipeId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === 'Recipe removed from wishlist') {
                            this.closest('.recipe-tile').remove();  // Corrected class name for DOM removal
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });

</script>

{% endblock content %}