<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookpedia</title>
    <link href="index.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="header-item">
            <h1>Cookpedia</h1>
        </div>
        <div class="header-item">
            <div class="navbar">
                <a href="#">All Recipes</a>
                <a href="#">Create Recipe</a>
                <a href="#">Favorites</a>
                <a href="#">Collections</a>
            </div>
        </div>
        <div class="header-item">
            <i class='bx bx-search'></i>
        </div>
        <div class="header-item">
            <i class='bx bx-log-in'></i>
        </div>
    </header>
    <main>
        <div class="title-container">
            <h2>All Recipes</h2>
            <div class="line"></div>
        </div>
        <div class="recipe-grid">
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
            <div class="recipe-tile"></div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>